{% block content %}
BEGIN:VCALENDAR
X-LOTUS-CHARSET:UTF-8
CALSCALE:GREGORIAN
VERSION:2.0
PRODID:ZMS-Berlin
METHOD:REQUEST
X-WR-TIMEZONE:Europe/Berlin
BEGIN:VTIMEZONE
TZID:Europe/Berlin
X-LIC-LOCATION:Europe/Berlin
BEGIN:DAYLIGHT
TZOFFSETFROM:+0100
TZOFFSETTO:+0200
TZNAME:Central European Summer Time
DTSTART:19700329T020000
RRULE:FREQ=YEARLY;INTERVAL=1;BYDAY=-1SU;BYMONTH=3
END:DAYLIGHT
BEGIN:STANDARD
TZOFFSETFROM:+0200
TZOFFSETTO:+0100
TZNAME:Central European Time
DTSTART:19701025T030000
RRULE:FREQ=YEARLY;INTERVAL=1;BYDAY=-1SU;BYMONTH=10
END:STANDARD
END:VTIMEZONE
BEGIN:VEVENT
UID:{{ startTime|date("Ymd") }}-{{ process.id }}
ORGANIZER;CN="{{ process.scope.provider.name }}{% if process.scope.shortName %}{{ " " ~ process.scope.shortName }}{% endif %}":MAILTO:{{ process.scope.preferences.client.emailFrom }}
SEQUENCE:0
LOCATION:{{ process.scope.provider.name }}{% if process.scope.shortName %}{{ " " ~ process.scope.shortName }}{% endif %} {{ process.scope.provider.contact.street }} {{ process.scope.provider.contact.streetNumber }}\, {{ process.scope.provider.contact.postalCode }} {{ process.scope.provider.contact.city }}
SUMMARY:{{ "Berlin-Termin:"|trans }} {{ process.id }}
DESCRIPTION:{{ message }}
CLASS:PUBLIC
DTSTART;TZID=Europe/Berlin:{{ startTime|date("Ymd") }}T{{ startTime|date("His") }}
DTEND;TZID=Europe/Berlin:{{ endTime|date("Ymd") }}T{{ endTime|date("His") }}
DTSTAMP:{{ timestamp|date("Ymd") }}T{{ timestamp|date("His") }}
BEGIN:VALARM
ACTION:DISPLAY
DESCRIPTION:{{ "Berlin-Termin:"|trans }} {{ process.id }}
TRIGGER:-P1D
END:VALARM
STATUS:CONFIRMED
END:VEVENT
END:VCALENDAR
{% endblock %}
