{% block content %}
<table cellpadding="0" cellspacing="0" width="1000">
    <tr>
        <td valign="top">
            <h1>{{ scope.provider.name }}{% if process.scope.shortName %}{{ " " ~ process.scope.shortName }}{% endif %}</h1>
        </td>
    </tr>
    <tr>
        <td valign="top" style="padding:2px 0px;">
            Standortanschrift: {{ scope.contact.street }} {{ scope.contact.streetNumber }}
        </td>
    </tr>
    <tr>
        <td valign="top" style="padding:2px 0px;">
            Standortbeschreibung: {{ scope.contact.name|default('-') }}
        </td>
    </tr>
    <tr>
        <td valign="top" style="padding:2px 0px;">
            Standortk&uuml;rzel: {{ scope.shortName|default('-') }}
        </td>
    </tr>
    <tr>
        <td valign="top" style="padding:2px 0px;">
            Email Standortadmin: {{ scope.contact.email }}
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>
            <strong>Termine am {{ dateTime|date("Y-m-d") }} ({{ processList|length }} gesamt)</strong>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td bgcolor="#dedede" style="padding:3px 10px;">Uhrzeit</td>
                    <td bgcolor="#dedede" style="padding:3px 10px;">Vorgangsnummer</td>
                    <td bgcolor="#dedede" style="padding:3px 10px;">Name des Kunden</td>
                    <td bgcolor="#dedede" style="padding:3px 10px;">Dienstleistung</td>
                </tr>
                {% for key, process in processList %}
                {% set style = "padding:3px 10px; background-color:#efefef; border-bottom:1px solid #e2e2e2;" %}
                {% if loop.index0 is odd %}
                {% set style = "padding:3px 10px;" %}
                {% endif %}
                <tr>
                    <td width="70" valign="top" style="{{ style }}">
                        {{ process.appointments|first.date|date("H:i") }} {% if process.appointments|first.slotCount > 1 %}<small>({{ process.appointments|first.slotCount }})</small>{% endif %}
                    </td>
                    <td width="120" valign="top" style="{{ style }}">
                        {{ process.id }}
                    </td>
                    <td valign="top" width="280" style="{{ style }}">
                        {{ process.clients|first.familyName }}
                    </td>
                    <td valign="top" width="430" style="{{ style }}">
                        {{ process.requests|first.name }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>
{% endblock %}
