{% block german %}
Ihr Dokument ist fertig und liegt zur Abholung bereit, am Standort {{ process.scope.provider.contact.name }}{% if process.scope.shortName %}{{ " " ~ process.scope.shortName }}{% endif %}
{% endblock %}
