{% block german %}
    {% if status == 'confirmed' or status == 'appointment' %}
    Terminbestätigung
    {% elseif status == 'reminder' %}
    Terminerinnerung
    {% elseif (status == 'deleted' or status == 'blocked') and not initiator %}
    Terminabsage
    {% elseif (status == 'deleted' or status == 'blocked') and initiator %}
    Information Terminabsage
    {% elseif status == 'updated' and initiator %}
    Information Terminänderung
    {% elseif status == 'queued' %}
    Wartenummerbestätigung
    {% elseif status == 'pickup' %}
    Ihr Dokument {% if process.requests|first.name %}({{ process.requests|first.name }}) {% endif %}ist fertig und liegt zur Abholung bereit.
    {% elseif status == 'survey' and process.clients|first.surveyAccepted %}
    Kundenbefragung des Standorts {{ process.scope.contact.name }}{% if process.scope.shortName %}{{ " " ~ process.scope.shortName }}{% endif %}
    {% elseif status == 'overview' %}
    Terminübersicht
    {% elseif status == 'reserved' %}
    Bitte verifizieren Sie Ihre E-Mail-Adresse
    {% else %}
    Terminerinnerung
    {% endif %}
{% endblock %}
