<p>
Bitte melden Sie sich am Check-In-Schalter vorort rechzeitig mit an.<br />
Sie können dazu den folgenden QR-Code nutzen.<br />
    <br />
Wenn de QR-Code hier nicht angezeigt wird, können Sie diesen auch über den folgenden Link aufrufen.<br />
    http://www.example.com/qrcode
</p>
